* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* Horizontal center */
    align-items: center;
    /* Vertical center */
    height: 100vh;
    /* Optional: Use if vertical center is needed */
}

#main{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 10px;

}

#header {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header p{
    text-align: center;
}

#buttons{
    border: 1px solid rgb(52, 54, 157);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#buttons button {
    padding: 5px 13px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
}

#buttons button i {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    vertical-align: middle;
}

#text textarea{
    width: 62vw;
    height: 140px;
    resize: none;
}